<h1>検索の使い方</h1>

<p>
  任意の検索文字列を入力してください。検索したいページを特定する文字列
  を入力して、「検索」ボタンを押してください。検索文字列をスペースで区
  切って入力すると、それらの検索文字列をを全て含むページを検索します。
</p>


<h2>ドリルダウンの説明</h2>

<p>
  表示されているカテゴリやファイル形式のリンクをクリックすると検索結果
  をそれらで絞り込むことができます。カテゴリやファイル形式の後ろに付い
  ている数字は、それらの条件で絞り込んだ場合の検索結果の件数を表わしま
  す。
</p>

<p>
  ヒット件数の上には現在の検索条件が表示されています。それぞれの検索条
  件の右に付いている削除アイコンをクリックするとその検索条件を削除する
  ことができます。
</p>
