<p><%= will_paginate raw_entries %></p>
<dl>
  <% entries.each do |entry| %>
    <dt><%= link_to entry.title, entry.url %></dt>
      <dd><%= entry.summary %></dd>
  <% end %>
</dl>
<p><%= will_paginate raw_entries %></p>

