<%= render :partial => "form" %>
<%= render :partial => "drilldown_groups" %>
<p><%= t("invalid_request_message") %></p>
<ul class="error_messages">
  <% @bad_request.errors.each do |field, message| %>
    <li><%= message %></li>
  <% end %>
</ul>

