/* search form */

.search_request {
  margin: 0 3em 1em;
}

/* drilldown */

.drilldown_groups {
  margin: 1em 0;
  padding: 0;
}

.drilldown_group {
  display: block;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}

.drilldown_group_name {
  background: white;
  left: 1em;
  position: relative;
  top: 0.4em;
}

.drilldown_group ul {
  border: 1px solid gray;
  margin: 0;
  padding: 0.5em 1em;
}

.drilldown_entry {
  display: inline;
  list-style: none;
}

/* topic path */

.topic_path {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}

.topic_path_item {
  display: inline;
  margin: 0 0.5em 0 0;
  padding: 0;
}

.topic_path_item:before {
  color: gray;
  content: ">";
  margin-right: 0.5em;
}

.topic_path_item:first-child:before {
  content: none;
}

.topic_path_item a img {
  border: 0 none;
}

/* search results */

.search_result {
  margin: 0 3em;
}

.search_result_count,
.search_result_message,
.search_result_error_message {
}

.search_result_entries {
  border: 0 none;
  margin: 1em 0 2em;
  padding: 0;
}

.search_result_entry {
  margin: 0 0 0.5em 0;
}

.search_result_title a,
.search_result_location a {
  display: block;
}

.search_result_location {
  font-size: 70%;
  padding: 0.2em 0 0.2em;
}

.search_result_location :link,
.search_result_location :visited {
  color: gray;
  text-decoration: none;
}

.search_result_summary {
  font-size: 90%;
  margin: 0 0 0 2em;
}

.search_result_summary em {
  background: #FFCC66;
  font-style: normal;
  font-weight: bold;
}

.search_result_drilldown_entries {
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}

.search_result_drilldown_entries li {
  display: inline;
  list-style: none;
  margin: 0 0.5em 0 0;
  padding: 0;
}

.search_result_drilldown_entries img {
  border: 0 none;
}

/* pagination */

.pagination {
  margin: 0;
  text-align: center;
}

#pagination_top {
  margin-top: 1em;
}

#pagination_bottom {
  margin-bottom: 1em;
}

.pagination em {
  font-style: normal;
  font-weight: bold;
}

