default: &default
  url: http://127.0.0.1:10041/
  # url: https://127.0.0.1:10041/
  # protocol: http
  # host: 127.0.0.1
  # port: 10041
  # user: alice
  # password: secret
  read_timeout: -1
  # read_timeout: 3
  backend: synchronous

development:
  <<: *default

test:
  <<: *default
  url: http://127.0.0.1:20041/

production:
  <<: *default
  # url: http://production.example.com:10041/
  read_timeout: 10
