// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* layout */
.content {
  margin: 0 3em;
}

/* search form */

.search_request {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* drilldown */

.drilldown_groups {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

.drilldown_group {
  display: block;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}

.drilldown_group_name {
  background: white;
  left: 1em;
  position: relative;
  top: 0.4em;
}

.drilldown_group ul {
  border: 1px solid gray;
  margin: 0;
  padding: 0.5em 1em;
}

.drilldown_entry {
  display: inline;
  list-style: none;
}

/* topic path */

.topic_path {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}

.topic_path_item {
  display: inline;
  margin: 0 0.5em 0 0;
  padding: 0;
}

.topic_path_item:before {
  color: gray;
  content: ">";
  margin-right: 0.5em;
}

.topic_path_item:first-child:before {
  content: none;
}

.topic_path_item a img {
  border: 0 none;
}

.topic_path_item_type_label,
.topic_path_item_category_label,
.topic_path_item_query_label {
  padding-left: 18px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.topic_path_item_type_label {
  background-image: asset-url("keys/type-small.png");
}

.topic_path_item_category_label {
  background-image: asset-url("keys/category-small.png");
}

.topic_path_item_query_label {
  background-image: asset-url("keys/query-small.png");
}

/* search results */

.search_result_count,
.search_result_message,
.search_result_error_message {
}

.search_result_entries {
  border: 0 none;
  margin: 1em 0 2em;
  padding: 0;
}

.search_result_entry {
  margin: 0 0 0.5em 0;
}

.search_result_location a {
  display: block;
}

.search_result_score {
  color: #ccc;
}

.search_result_location {
  font-size: 70%;
  padding: 0.2em 0 0.2em;
}

.search_result_location :link,
.search_result_location :visited {
  color: gray;
  text-decoration: none;
}

.search_result_summary {
  font-size: 90%;
  margin: 0 0 0 2em;
}

span.keyword,
.search_result_summary em {
  background: #FFCC66;
  font-style: normal;
  font-weight: bold;
}

.search_result_drilldown_entries {
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}

.search_result_drilldown_entries li {
  display: inline;
  list-style: none;
  margin: 0 0.5em 0 0;
  padding: 0;
}

.search_result_drilldown_entries li:after {
  color: gray;
  content: "|";
  margin-left: 0.5em;
}

.search_result_drilldown_entries li:last-child:after {
  content: none;
}

.search_result_drilldown_entries img {
  border: 0 none;
}

li.search_result_drilldown_type_entry,
li.search_result_drilldown_category_entry {
  padding-left: 18px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

li.search_result_drilldown_type_entry {
  background-image: asset-url("keys/type-small.png");
}

li.search_result_drilldown_category_entry {
  background-image: asset-url("keys/category-small.png");
}

/* pagination */

.pagination {
  margin: 0;
  text-align: center;
}

#pagination_top {
  margin-top: 1em;
}

#pagination_bottom {
  margin-bottom: 1em;
}

.pagination em {
  font-style: normal;
  font-weight: bold;
}

